*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior:smooth;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/big-image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}   

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    transition: all 0.3s ease;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.header-text h1 span{
    color:#ff004f;
}

/* About Section */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    transition: all 0.3s ease;
}
.tab-links.active-link:hover::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-weight: 600;
}
.tab-contents {
   display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Projects Section */
#projects{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
    transition: transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 16px;
}
.services-list div a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background:#4397cb;
    transform: translateY(-10px);
}


/* portifolio */

#portifolio{
    padding: 50px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
     margin-top: 50px;
}

.project-card{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project-card img{
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: 0.4s;
}
.project-card img:hover{
    transform: scale(1.1);
}

.layer{
    display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0;
   flex-direction: column;
   text-align: center;
   background: linear-gradient(rgba(0,0,0,0.6), #4397cb);
   overflow: hidden;
   transition: height 0.5s;
}
.layer h3{
 font-size: 20px;
 margin-top: -30px;
 margin-bottom: 10px;
}
.project-links{
    
    margin-top: 10px;
}
.project-links a{
text-decoration: none;

}
.project-links a:hover{
    color: #fff;
}
.project-card:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4397cb;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;

}
.btn:hover{
    background:#4397cb;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left i{
  color: #4397cb;
  margin-right: 15px;
  font-size: 25px;
  padding: 10px;
}
.contact-left a{
    color: #fff;
    text-decoration: none;
}
.contact-left a:hover{
    color: #4397cb;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
}
.btn.btn2{
    margin-left: 0;
}
.btn.btn2:hover{
  color: #fff;
}

.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn.btn2.btn3{
    background: #4397cb;
    cursor: pointer;
    padding-top: -20px;
}
.btn.btn2.btn3:hover{
    background: #fff;
    color: #4397cb;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 20px;
    background: #262626;
}



/* css for small screen */
#icon{
    display: none;
}
@media screen and (max-width:600px) {
    .header{
        background-image: url(images/phone-img.png);
    }
    .header-text{
         margin-top: 96%;
         font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    #icon{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #4397cb;
    position: fixed ;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin-top: 30px;
}
ul #icon{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.open{
    padding-top: 18px;
}

.sub-title{
    font-size: 40px;
}
.about-col-1,.about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 20px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
}